{
    "name": "Push Notifications Name",
    "start_url": "/view-notifications?stage=Live",
    "display": "standalone",
    "icons": [
        {
            "src": "https://url/512.png",
            "type": "image/png",
            "sizes": "512x512"
        }
    ]
}